- Experiment - Tossing a coin, Rolling a die, Drawing a card
- Outcome - Get heads or tails, 1-6 in die, spade, heart, club, diamond
  
•Sample space - For coin toss (Heads, tails), For rolling a die (1,23,4,5,6)

•Event - a subset of sample space - Getting an even number when you rolled a die. (2,4,6). Getting a tail

•Probability - Likelihood of an event = # of outcomes favoring an event / a of possible outcomes => Prob of getting an even number when a die
is rolled = 3/6 = 1/2

In [9]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv("marveldata.csv")
df

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

In [17]:
df['SEX'].unique()

array(['Male Characters', 'Female Characters', 'Genderfluid Characters',
       'Agender Characters', nan], dtype=object)

### Marginal probability

#### Probability of a character being male

In [26]:
chars_count = df.groupby(["SEX"]).count()['name']
print(chars_count)

male_chars = chars_count["Male Characters"]
male_chars

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
Name: name, dtype: int64

11638

In [30]:
x = len(df['name'])
x

16376

In [34]:
# Marginal probability of being male
male_prob = male_chars/len(df['name'])
male_prob

0.7106741573033708

### Join probability

#### Probability of getting a character which is male and has brown hair

In [78]:
brown_hair_prob = (df.groupby(["HAIR"]).count()["name"]["Brown Hair"])/len(df['name'])
brown_hair_prob

0.14283097215437227

### Join probability

#### Joint prob of male and brown hair

In [61]:
male_prob*brown_hair_prob

0.10150628077262973

### Conditional probability

In [84]:
male_char_and_broen_hair=df.groupby(["SEX","HAIR"]).count()['name']["Male Characters"]["Brown Hair"]
male_char_and_broen_hair

1801

In [86]:
male_char_and_broen_hair/male_chars

0.15475167554562638