# Panda series

In [6]:
import pandas as pd 
import numpy as np

In [8]:
x=[13,-5,7,19]
s1=pd.Series(x)
s1

0    13
1    -5
2     7
3    19
dtype: int64

In [10]:
y=[23,-0.3,7,19]
s2=pd.Series(y,index=['a','b','c','d'])
s2

a    23.0
b    -0.3
c     7.0
d    19.0
dtype: float64

# Getting access of indexes and values of panda series

In [17]:
print("Values:", s2.values)
print("Indexes:", s2.index)

Values: [23.  -0.3  7.  19. ]
Indexes: Index(['a', 'b', 'c', 'd'], dtype='object')

Assing new values to the panda series or modifying existing values

In [22]:
s2['e']=20
s2

a    23.0
b    -0.3
c     7.0
d    19.0
e    20.0
dtype: float64

In [24]:
s2['d']=200
s2

a     23.0
b     -0.3
c      7.0
d    200.0
e     20.0
dtype: float64

Create a pandas series with these elements 'Amit','Bob','Kate','A','b',np.nan ,'Car','dog','cat'

In [27]:
s3=pd.Series(['Amit','Bob','Kate','A','b',np.nan ,'Car','dog','cat'])
s3

0    Amit
1     Bob
2    Kate
3       A
4       b
5     NaN
6     Car
7     dog
8     cat
dtype: object

All elements need to be lower or upper case

In [30]:
print(s3.str.lower())

0    amit
1     bob
2    kate
3       a
4       b
5     NaN
6     car
7     dog
8     cat
dtype: object

In [32]:
print(s3.str.upper())

0    AMIT
1     BOB
2    KATE
3       A
4       B
5     NaN
6     CAR
7     DOG
8     CAT
dtype: object

In [34]:
print(len(s3))

9

In [36]:
print(s3.str.len())

0    4.0
1    3.0
2    4.0
3    1.0
4    1.0
5    NaN
6    3.0
7    3.0
8    3.0
dtype: float64

From raw data below create Pandas Series 'Arya',"John","Jack","Sami"

In [41]:
s4=pd.Series(['Arya',"John","Jack","Sami"])
s4

0    Arya
1    John
2    Jack
3    Sami
dtype: object

Print elements stripping spaces from left and right

In [45]:
print(s4.str.strip())

0    Arya
1    John
2    Jack
3    Sami
dtype: object